<div class="two-columns font-gray margin-bottom" id="digital-consulting">
  <div class="left">
    <%= image_tag "workshops.jpg", class:"image-services" %>
  </div>
  <div class="right">
    <div class="flex-right">
      <h3>Digital Consulting</h3>
      <div class="right-content right-content-wide">
        <p>
          <strong>
            Feeling lost? Let us show you the world.
          </strong>
          Who doesn’t love some good advice? When starting out as a digital company it’s hard to figure out what your roadmap should be when creating your company. The same is true for existing companies who are looking at new features or new strategies to take their product to the next level. Advice on these topics will give you a clear roadmap on where to go next and which actions you need to take to fullfil your goals.
        </p>
      </div>
      <%= link_to "More information", extra_information_path, class: "button-red"  %>
    </div>
  </div>
</div>

<div class="benefit-header font-gray header-gray">
  <h3>Benefits</h3>
</div>
<div class="three-columns-services text-center font-gray">
  <div class="single-column-service">
    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
        Objective advice
      </strong>
    </h4>
    <p>
      It's easy to get lost in your own product, especially when you really love it. We're able to provide an unbiased third-party opinion on whatever issues you might run into.
    </p>
  </div>
  <div class="single-column-service">
    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
        Technical and design decisions
      </strong>
    </h4>
    <p>
      Are you wondering about the best way to approach a certain issue? We can help you device a technical strategy, improve your UX design and help you get a clear view on putting your product in the market.
    </p>
  </div>
  <div class="single-column-service">
    <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
        Cost strategy
      </strong>
    </h4>
    <p>
      Do you have a great idea but don't know how to start making it into a real-live product? We can connect you to the right people, make sure you have a solid strategy and ensure you don't pay too much.
    </p>
  </div>
</div>
