<div class="two-columns font-gray margin-bottom" id="mvp">
  <div class="left">
    <%= image_tag "mvp.jpg", class:"image-services" %>
  </div>
  <div class="right">
    <div class="flex-right">
      <h3>Digital Products</h3>
      <div class="right-content right-content-wide">
        <p><strong>We call them MVP's. </strong>Most Valued Player? Noooo, Minimum Viable Product. It’s that weird word people use in startups. It means creating a first version of your product to get started with users. An MVP is the most basic version of what your concept entails. It’s not about getting the perfect version out there, it’s about starting to iterate and to continue until infinity - it's all about providing everything that your users want and need.
        </p>
      </div>
      <%= link_to "Interested?", contact_path, class: "button-red"  %>
    </div>
  </div>
</div>

<div class="benefit-header font-gray header-gray">
  <h3>Benefits</h3>
</div>
<div class="three-columns-services text-center font-gray">
  <div class="single-column-service">
    <i class="fa fa-list fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
        Focus on the features <br> that matter
      </strong>
    </h4>
    <p>
      A mimimum viable product forces you to find the features that are most important for your product. Prioritizing features and deploying quickly sets a strong foundation for any project.
    </p>
  </div>
  <div class="single-column-service">
    <i class="fa fa-users fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
        Quick customer <br> relations
      </strong>
    </h4>
    <p>
      Quick deployment means you're also able to swiftly introduce your products to your prospective users. Start your customer relationship soon and get their feedback as you introduce new features.
    </p>
  </div>
  <div class="single-column-service">
    <i class="fa fa-eur fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
        Cost-efficient <br> development
      </strong>
    </h4>
    <p>
      Put the focus on your product's core mechanics and reduce the risk of building features that have a bad market fit. Add features based on the feedback you get, when you get it. Adjust and improve.
    </p>
  </div>
</div>
