<div class="two-columns font-gray margin-bottom" id="mvp">
  <div class="left">
    <%= image_tag "mvp.jpg", class:"image-services" %>
  </div>
  <div class="right">
    <div class="flex-right">
      <h3>Landing pages and platforms</h3>
      <div class="right-content right-content-wide">
        <p><strong>We call them MVP's. </strong> An MVP is the most basic version of your concept you can present to your customer. The main thing we love about MVP's is the speed with which you can deliver your product to your customers. That's important because you need to validate your ideas. You can use a landing page to validate your concept by using it to gather email addresses. Many email addresses equals a lot of interest. You can use a basic version of your platform to validate your features before you spend too much time on them. Allowing you to adjust your concept or pivot with ease. After your first version is deployed you can test, adjust and add features iteratively until your project is just right.
        </p>
      </div>
      <%#= link_to "More information", extra_information_path, class: "button-red"  %>
    </div>
  </div>
</div>

<div class="benefit-header font-gray header-gray">
  <h3>Benefits</h3>
</div>
<div class="three-columns-services text-center font-gray">
  <div class="single-column-service">
    <i class="fa fa-list fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
        Focus on the features <br> that matter
      </strong>
    </h4>
    <p>
      A minimum viable product forces you to find the features that are most important for your product. Prioritizing features and deploying quickly sets a strong foundation for any project.
    </p>
  </div>
  <div class="single-column-service">
    <i class="fa fa-users fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
        Quick customer <br> relations
      </strong>
    </h4>
    <p>
      Quick deployment means you're also able to swiftly introduce your products to your prospective users. Start your customer relationship soon and get their feedback as you introduce new features.
    </p>
  </div>
  <div class="single-column-service">
    <i class="fa fa-eur fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
        Cost-efficient <br> development
      </strong>
    </h4>
    <p>
      Put the focus on your product's core mechanics and reduce the risk of building features that have a bad market fit. Add features based on the feedback you get, when you get it. Adjust and improve.
    </p>
  </div>
</div>
