<div class="two-columns font-gray">
  <div class="left">
    <%= image_tag "mvp.jpeg", class:"image-services" %>
  </div>
  <div class="right">
    <div class="flex-right">
      <div class="header-gray">
        MVP
      </div>
      <div class="right-content">
        <p><strong>Most Valued Player? Noooo, Minimum Viable Product.</strong> It’s that weird word people use in startups. It means creating a first version of your product to get started with users. An MVP is the most basic version of what your concept entails. It’s not about getting the perfect version out there, it’s about starting to iterate and to continue until infinity - just to provide what your users want and need.
        </p>
      </div>
      <%= link_to "Interested?", contact_about_path, class: "button-red"  %>
    </div>
  </div>
</div>

<div class="header-gray">
  Benefits
</div>

