<div class="two-columns font-gray">
  <div class="left">
    <%= image_tag "mvp.jpeg", class:"image-services" %>
  </div>
  <div class="right">
    <div class="flex-right">
      <div class="header-gray">
        <h3>MVP</h3>
      </div>
      <div class="right-content">
        <p><strong>Most Valued Player? Noooo, Minimum Viable Product.</strong> It’s that weird word people use in startups. It means creating a first version of your product to get started with users. An MVP is the most basic version of what your concept entails. It’s not about getting the perfect version out there, it’s about starting to iterate and to continue until infinity - just to provide what your users want and need.
        </p>
      </div>
      <%= link_to "Interested?", contact_about_path, class: "button-red"  %>
    </div>
  </div>
</div>

<div class="benefit-header font-gray header-gray">
  <h3>Benefits</h3>
</div>
<div class="three-columns-services text-center font-gray">
  <div class="single-column-service">
    <i class="fa fa-list fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
      Focus on the features <br> that matter
      </strong>
    </h4>
    <p>
      It’s important to validate
      your ideas before building anything! In the conceptual stage you could still easily pivot your concept in a direction that works. Later on - not so much
    </p>
  </div>
  <div class="single-column-service">
    <i class="fa fa-users fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
      Quick customer <br> relations
      </strong>
    </h4>
    <p>
      What’s the best way to find out if your idea is actually a good idea that people will end up using? You involve them in the process from the beginning. Using a sprint you can easily start user testing from the first day using basic prototypes.
    </p>
  </div>
  <div class="single-column-service">
    <i class="fa fa-eur fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
      Cost-efficient <br> development
    </strong>
     </h4>
    <p>
      It doesn’t take months in order to do rudimentary research, you can do it in just a few days - and with limited budget. A sprint allows you to quickly filter problems and obstacles from your concept that might be a lot more difficult or costly to handle later on in the process.
    </p>
  </div>
</div>
