<%= render partial: 'shared/text_banner', locals: {
  header: "Cool idea? Ready to tackle it?",
  content: 
  "We love a challenge. Find us a group of people and a problem and we'll help you find, not only a great, but a beautiful solution. We love.",
  button: {
    display_text: 'Request a quote',
    path: contact_about_path
  }
} %>



<div class="three-cards-container marged">
  <div class="row">
    <div class="col-xs-4">
      <%= render partial: 'shared/cards/service_card', locals: {
        header: 'Sprints',
        fontawesome: 'sitemap',
        list: [
          "Idea creation",
          "Up to 5 days",
          "Rapid prototyping",
          "Idea creation",
          "Idea creation"
          ],
        button_path: sprints_services_path
      } %>
    </div>
    <div class="col-xs-4">
      <%= render partial: 'shared/cards/service_card', locals: {
        header: 'Sprints',
        fontawesome: 'sitemap',
        list: [
          "Idea creation",
          "Up to 5 days",
          "Rapid prototyping",
          "Idea creation",
          "Idea creation"
          ],
        button_path: sprints_services_path
      } %>
    </div>
    <div class="col-xs-4">
      <%= render partial: 'shared/cards/service_card', locals: {
        header: 'Sprints',
        fontawesome: 'sitemap',
        list: [
          "Idea creation",
          "Up to 5 days",
          "Rapid prototyping",
          "Idea creation",
          "Idea creation"
          ],
        button_path: sprints_services_path
      } %>
    </div>
  </div>
</div>

