<div class="two-columns font-gray margin-bottom">
  <div class="left">
    <%= image_tag "workshops.jpg", class:"image-services" %>
  </div>
  <div class="right">
    <div class="flex-right">
      <h3>Workshops</h3>
      <div class="right-content right-content-wide">
        <p>
          <strong>
          So you guys can teach me Origami?
          </strong>
          Even though this is on our top list of skills to learn, no. But by being part of one of our workshop you will learn something valuable for you. We have experience in organizing workshops tailored to teams, and individuals with topics ranging from: Pitch your tech product, Introduction to HTML/CSS, Design resources and so on. Besides this we have experience with creating tailored workshops for companies who are trying to tackle a specific problem head on.
        </p>
      </div>
      <%= link_to "Interested?", contact_about_path, class: "button-red"  %>
    </div>
  </div>
</div>

<div class="benefit-header font-gray header-gray">
  <h3>Benefits</h3>
</div>
<div class="three-columns-services text-center font-gray">
  <div class="single-column-service">
    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
      Personal
      </strong>
    </h4>
    <p>
      If you are trying to gain more knowledge on a specific topic, it's great
    </p>
  </div>
  <div class="single-column-service">
    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
      Real user testing
      </strong>
    </h4>
    <p>
      What’s the best way to find out if your idea is actually a good idea that people will end up using? You involve them in the process from the beginning. Using a sprint you can easily start user testing from the first day using basic prototypes.
    </p>
  </div>
  <div class="single-column-service">
    <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
    <h4>
      <strong>
      Quick and short-term
    </strong>
     </h4>
    <p>
      It doesn’t take months in order to do rudimentary research, you can do it in just a few days - and with limited budget. A sprint allows you to quickly filter problems and obstacles from your concept that might be a lot more difficult or costly to handle later on in the process.
    </p>
  </div>
</div>
