.content-services {
  max-width: 500px;
  margin-top: 20px;
}

.flex-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


@media (min-width: 900px) {
  .image-services {
    max-width: 560px;
    max-height: 384px;
  }
  .flex-right {
    max-height: 384px;
  }
}

@media (max-width: 900px) {
  .image-services {
    max-width: 560px;
    max-height: 225px;
    margin-top: 30px;
  }
  .flex-right {
    max-height: 100%;
  }
}
