.grid-banner {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 40% 10% 50%;
  .quote {
    grid-column: 3 / span 2;
    h3 {
      font-size: 40px;
      font-family: Arvo;
      color: $brand-color;
      margin-top: 0;
    }
    h4 {
      color: $gray;
    }
  }
  .image {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    img {
      width: 100%;
    }
  }
  .text-box {
    grid-column: 3 / span 2;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p {
      margin: 0;
    }
  }
}