


@media (max-width: 900px) {
  .grid-banner {
  margin-top: 25px;
  display: grid;
  grid-template-rows: 40% 20% 30%;
  grid-template-columns: 50% 50%;

}
  .quote {
    grid-column: 1 / span 2;
    h3 {
      font-size: 40px;
      font-family: Arvo;
      color: $brand-color;
      margin-top: 20px;
    }
    h4 {
      color: $gray;
    }
  }
  .image {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    img {
      width: 100%;
    }
  }
  .text-box {
    grid-column: 1 / span 2;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    p {
      margin: 0;
      font-size: 17px;
      a {
        color: $brand-color;
      }
    }
    .second-paragraph {
      margin-top: 15px;
    }
  }
}

@media (min-width: 900px) {
  .grid-banner {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 40% 10% 50%;

}
  .grid-banner {
    .quote {
      grid-column: 3 / span 2;
      h3 {
        font-size: 40px;
        font-family: Arvo;
        color: $brand-color;
        margin-top: 0;
      }
      h4 {
        color: $gray;
      }
    }
    .image {
      grid-row: 1 / span 2;
      grid-column: 1 / span 1;
      img {
        width: 100%;
      }
    }
    .text-box {
      grid-column: 3 / span 2;
      font-size: 17px;
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
        font-size: 17px;
        a {
          color: $brand-color;
        }
      }
      .second-paragraph {
        margin-top: 15px;
      }
    }
  }
}
