.map-data-layout {
  display: flex;
  flex-direction: column;
  .map {
    flex: 0 0 280px;
  }
  .data-below {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    .data-right {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      h4 {
        margin-top: 25px;
      }
      .bottom-line {
        width: 100%;
        height: 6px;
        background-color: white;
      }
      .social-media-links {
        .tiny-square-button {
          margin-left: 10px;
          &:first-child {
            margin-left: 0 !important;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .map-data-layout {
    .map {
      margin-top: 20px;
    }
    .data-below {
      flex-direction: column;
    }
  }
}

@media (min-width: 900px) {
  .data-below {
    .data-right {
      padding-left: 40px;
    }
  }
}
