// FOR HOME PAGE

@media (max-width: 900px) {
  .two-columns {
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    .left {
      min-height: 50vh;
    }
    .right {
      min-height: 50vh;
    }
  }
  .big-quote {
    font-size: 50px;
    max-width: 100%;
  }
}

@media (min-width: 900px) {
  .two-columns {
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    .left {
      min-height: calc(100vh - 265px);
    }
    .right {
      min-height: calc(100vh - 265px);
    }
  }
  .big-quote {
    font-size: 80px;
    max-width: 430px;
  }
}

.two-columns {
  width: 100%;
  display: grid;
  min-height: calc(100vh - 265px);
  .left, .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.big-quote {
  font-family: Arvo;
  font-weight: 700;
  color: white;
}

// FOR PROJECT SHOW PAGE
.content-container {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin-bottom: 40px;
    .title-content p {
      font-style: italic;
      font-size: 16px;
    }
    .breadcrumbs {
      font-size: 15px;
      a {
        color: $gray;
      }
    }
    h2 {
      font-family: Arvo;
      color: $brand-color;
    }
  }
  .two-columns-higher {
    display: flex;
    .right, .left {
      flex: 0 0 50%;
    }
    .left {
      img {
        width: 100%;
      }
    }
    .right {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      p {
        width: 80%;
        text-align: right;
        font-size: 16px;
        line-height: 1.8;
      }
    }
  }
}


@media (max-width: 900px) {
  .content-container {
    .breadcrumbs {
      display: none;
    }
    .title {
      justify-content: flex-end;
      h2 {
        margin-top: 0;
        color: $gray;
      }
    }
    .two-columns-higher {
      flex-direction: column;
      .left {
        img {
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .content-container {
    .two-columns-higher {
      flex-direction: row;
    }
  }
}


.two-columns-emphasis-left {
  width: 100%;
  display: grid;
  min-height: calc(100vh - 265px);
  .left, .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .two-columns-emphasis-left {
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    .left {
      min-height: 50vh;
    }
    .right {
      min-height: 50vh;
    }
  }
}

@media (min-width: 900px) {
  .two-columns-emphasis-left {
    grid-template-rows: 100%;
    grid-template-columns: 60% 40%;
    .left {
      min-height: calc(100vh - 265px);
    }
    .right {
      min-height: calc(100vh - 265px);
    }
  }
}










