<div class="unless-footer <%= is_home_or_contact? ? 'footer-unless-inverted' : 'footer-unless-regular' %>">
  <div class="footer-left">
    <%= link_to "https://twitter.com/unless_io", class: "footer-item" do %>
      <i class="fa fa-twitter"></i>
      <span>
        twitter
      </span>
    <% end %>
    <%= mail_to "info@unless.io", class: "footer-item" do %>
      <i class="fa fa-envelope"></i>
      <span>
        info@unless.io
      </span>
    <% end %>
  </div>
</div>
