<div class="unless-footer <%= is_home? ? 'footer-unless-inverted' : 'footer-unless-regular' %>">
  <div class="footer-left">
    <%= link_to "https://www.facebook.com/unlessio/", class: "footer-item" do %>
      <i class="fa fa-facebook-official"></i> 
      <span>
        facebook
      </span>
    <% end %>
    <%= link_to "#", class: "footer-item" do %>
      <i class="fa fa-envelope"></i> 
      <span>
        info@unless.io
      </span>
    <% end %>
  </div>
</div>