<div class="image-banner-wrapper">
  <div class="image-banner" style="background-image:url('<%= image_path image %>');">

  </div>
  <div class="caption">
    <em>
      <%= caption %>
    </em>
  </div>
</div>