<div class="three-cards-container">
  <h2 class="header-gray">
    Selected projects
  </h2>
  <!-- TODO CHANGE ITERATOR FROM ALWAYS 10 TO LISTEN TO 'LIMIT' VARIABLE -->
  <% YAML.load(File.open("#{Rails.root}/db/data/projects.yml")).each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |project| %>
    <div class="col-xs-12 col-md-4">
      <%= link_to project_portfolio_path(project["url"]), class: "simple-image-card high" do %>
      <%= render partial: 'shared/cards/simple_image_card', locals: {
        item: project,
        type: 'project',
        image_style: 'cover',
        text_align: 'left',
        button: true,
        image_size: 'large'
      } %>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>

</div>
