<div class="three-cards-container">
  <h2 class="header-gray">
    Projects
  </h2>
  <!-- TODO CHANGE ITERATOR FROM ALWAYS 10 TO LISTEN TO 'LIMIT' VARIABLE -->
  <% (0..10).to_a.each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |item| %>
    <div class="col-xs-4">
      <%= render partial: 'shared/cards/simple_image_card', locals: {
        title: 'Jouw Stek',
        image: 'projects/jouwstek.png',
        image_style: 'cover',
        border: true,
        text_align: 'left'
      } %>
    </div>
    <% end %>
  </div>
  <% end %>
  <% unless request.original_url == portfolio_projects_url %>
    <div class="button-right">
      <%= link_to 'See more projects', portfolio_projects_path, class: 'button-red'  %>
    </div>
  <% end %>
</div>
