<div class="two-columns font-gray margin-bottom">
  <div class="left">
    <div class="flex-left">
      <div class="header-gray font-gray">
        <h3>
          Cool idea? Ready to tackle it?
        </h3>
      </div>
      <div class="right-content right-content-wide">
        <p>
          We love a challenge. Find us a group of people and a problem and we'll help you find, not only a great, but a beautiful solution. We love a challenge. Find us a group of people and a problem and we'll help you find, not only a great, but a beautiful solution. We love.
        </p>
      </div>
      <%= link_to "Interested?", contact_about_path, class: "button-red"  %>
    </div>
  </div>
  <div class="right">
    <div style="width:100%;height:0;padding-bottom:56%;position:relative;" class="image-services">
      <iframe src="https://giphy.com/embed/d2jibZKKA0k3RUgU" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
  </div>
</div>
