.person-highlight-card {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  .card-image {
    background-size: cover;
    background-position: center;
    height: 150px;
    flex: 1 0 auto;
    margin-top: 45px;
  }
  .card-body {
    flex: 0 0 75%;
    padding: 20px;
    h3 {
      font-weight: 700;
      font-size: 20px;
    }
    p {
      font-size: 14px;
      line-height: 1.6;
    }
    a {
      font-size: 15px;
      color: $brand-color;
      text-decoration: none;
      &:hover, &:visited, &:active, &:focus {
        text-decoration: none;
        color: $brand-color;
      }
    }
  }
}

.person-highlight-card.inverted {
  flex-direction: row-reverse;
}