.service-card {
  background-color: $lightest-gray;
  text-align: center;
  padding: 25px 0;
  box-shadow: 2px 2px 4px rgba(1,1,1,0.3);
  h3 {
    margin-top: 0;
  }
  .fa {
    color: $brand-color;
    font-size: 35px;
  }
  ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 20px auto;
    padding: 0px 60px;
    li {
      margin: 20px 0;
    }
    li::before {
      content: "○";
      color: $brand-color;
      margin-right: 10px;
    }
  }
  .button-red-outline {
    margin: 20px 0;
    font-size: 15px;
    padding: 10px 25px;
  }
}




