.simple-image-card.high {
  min-height: 245px;
}

.simple-image-card.low {
  min-height: 125px;
}

.simple-image-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 80%;
  color: $gray;
  margin-top: 40px;
  margin-bottom: 40px;
  .simple-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
  }
  .simple-image.large {
    height: 160px;
  }
  .simple-image.small {
    height: 80px;
  }
  h3 {
    font-size: 20px;
    margin: 0px;
    flex: 1 0 auto;
  }
  p {
    font-size: 13px;
    opacity: 0.8;
    margin-top: 10px;
  }
  button {
    background-color: $brand-color;
    color: white;
    border: none;
  }
  &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
    color: $gray;
  }
  .description {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


