<div class="contact-form">
  <h2 class="margin-bottom">
    Hello, is it me you’re looking for?
  </h2>
  <p class="margin-bottom">
    If you are looking for me, or us, fill out this form and we pinky promise that we will get back to you within the day. Feel free to email, facebook message or tweet, instead of filling out this pretty form. We also like all of those things.
  </p>
  <form action="https://formspree.io/info@unless.io"
  method="POST">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="contact-form-group">
        <label for="name">Name:<span>*</span></label>
        <input type="text" name="name" id="name" class="form-block" required>
        <div class="bottom-line"></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="contact-form-group" id="bottom-input-left">
        <label for="email">Email:<span>*</span></label>
        <input type="text" name="_replyto" id="email" class="form-block" required>
        <div class="bottom-line"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="contact-form-group" id="bottom-input-left">
        <label for="phone">Phone number:<span>*</span></label>
        <input type="text" name="phone" id="phone" class="form-block" required>
        <div class="bottom-line"></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="contact-form-group" id="bottom-input-left">
        <label for="animal">Spirit animal:</label>
        <input type="text" name="animal" id="animal" class="form-block">
        <div class="bottom-line"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="contact-form-group">
        <label for="message">Your message to us:<span>*</span></label>
        <textarea type="text" name="message" id="message" class="form-block" required>
        </textarea>
        <div class="bottom-line"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="checkbox">
        <div class="label-checkbox">
          <p>News letter enthousiast?</p>
          <p>Want our shower thougts?</p>
        </div>
        <label for="radio-yes">Yes</label>
        <input id="radio-yes" class="checkable" type="radio" name="newsletter" value="yes">
        <label for="radio-no">No</label>
        <input id="radio=no" class="checkable" type="radio" name="newsletter" value="no">
      </div>
    </div>
  </div>
  <input type="submit" value="Contact us" class="button-white-outline">
</form>
</div>
