
<div class="two-columns">
  <div class="left">
    <p class="big-quote">
     Helping People Create
    </p>
  </div>

  <div class="right font-white">
    <div class="right-content right-content-small">
      <p class="first-paragraph">
        We're going to get straight to the point; we like to build stuff. What kind of stuff? Places where people can connect, where they can gather. Places where people can find what they're looking for.
      </p>
      <p class="second-paragraph">
        We love a challenge. Find us a group of people and a problem and we'll help you find, not only a great, but a beautiful solution.
      </p>
      <%= link_to "Say hi", contact_path, class: 'button-white-outline' %>
    </div>
  </div>
</div>
