
<div class="two-columns">
  <div class="left">
    <p class="big-quote">
     Helping People Create
    </p>
  </div>

  <div class="right font-white">
    <div class="right-content right-content-small">
      <p class="first-paragraph">
        We are an international product agency based in Amsterdam.
      </p>
      <p class="second-paragraph">
        We love a challenge. Find us a group of people and a problem and we'll help you find, not only a great, but a beautiful solution.
      </p>
      <%= link_to "Say hi", contact_path, class: 'button-white-outline' %>
    </div>
  </div>
</div>
