<div class="two-columns">
  <div class="left">
    <p class="big-quote">
      <%= set_header(@left, 'header-left') %>
    </p>
  </div>


  <div class="right font-white">
    <div class="right-content right-content-small">
      <p class="first-paragraph">
        <%= set_text_area(@right, 'main-1') %>
      </p>
      <p class="second-paragraph">
        <%= set_text_area(@right, 'main-2') %>
      </p>
      <%= link_to "Say hi", contact_about_path, class: 'button-white-outline' %>
    </div>
  </div>
</div>
