<div class="grid-banner">
  <div class="quote">
    <h3>
      Hello? Why am I here? What is my purpose in life?
    </h3>
  </div>
  <div class="image">
    <%= image_tag 'computer.jpg' %>
  </div>
  <div class="text-box">
    <p class="first-paragraph">
      Started out as teachers at the Fullstack Development bootcamp <a href="http://lewagon.com">Le Wagon</a>. Combined Lars & Michèle have taught well over <strong>250 students</strong> and coached over <strong>80 projects</strong> from concept to MVP.
    </p>
    <p class="second-paragraph">
      Besides teaching they love to work together with companies and teams to explore interesting concepts and build great products (from digital platforms, static websites, clickable prototypes, API services, chatbots, browser plugins. You name it - we've done it).
    </p>
  </div>
</div>
<div class="wrapper-red">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 no-gutter">
        <%= render partial: 'shared/cards/person_highlight_card', locals: {
          inverted: false,
          name: "Lars Böhm",
          image: 'lars.jpg',
          description: "Fullstack Webdeveloper & Design Lead",
          email: 'lars@unless.io'
        } %>
      </div>
    </div>
  </div>
</div>
<%#= render partial: 'workmethod' %>
