<!-- TODO CHANGE THE LINK HERE TO AN ACTUAL ONE ONCE THAT WORKS -->
<div class="simple-image" style="background-image:url('<%= image_path item["image"] %>');background-size:<%= image_style %>;"></div>
  <h3 class="text-<%= text_align %>">
    <%= item["title"] %>
  </h3>
