.button-white {
  color: $brand-color;
  background-color: white;
  padding: 5px 17px;
  font-weight: 600;
  &:hover, &:focus, &:active, &:visited {
    color: $brand-color;
    text-decoration: none;
  }
}

.button-red {
  color: white;
  background-color: $brand-color;
  padding: 5px 17px;
  font-weight: 600;
  &:hover, &:focus, &:active, &:visited {
    color: white;
    text-decoration: none;
  }
}

