.button-white {
  display: inline-block;
  color: $brand-color;
  background-color: white;
  padding: 5px 17px;
  font-weight: 600;
  &:hover, &:focus, &:active, &:visited {
    color: $brand-color;
    text-decoration: none;
  }
}

.button-red {
  display: inline-block;
  color: white;
  background-color: $brand-color;
  padding: 5px 17px;
  font-weight: 600;
  &:hover, &:focus, &:active, &:visited {
    color: white;
    text-decoration: none;
  }
}

.button-white-outline {
  display: inline-block;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 5px 17px;
  font-weight: 600;
  border-radius: 0px;
  &:hover, &:focus, &:active, &:visited {
    color: white;
    text-decoration: none;
  }
}

.button-bigger {
  padding: 10px 30px;
  font-size: 20px;
}

.tiny-square-button {
  width: 40px;
  height: 40px;
  display: inline-flex;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.button-red-outline {
  display: inline-block;
  color: $brand-color;
  background-color: transparent;
  border: 1px solid $brand-color;
  padding: 5px 17px;
  font-weight: 600;
  &:hover, &:focus, &:active, &:visited {
    color: $brand-color;
    text-decoration: none;
  }
}

.button-right {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
  .button-red {
    font-size: 15px;
    padding: 10px 25px;
  }
}


