.contact-form {
  color: white;
  .contact-form-group label {
    margin-bottom: 10px;
  }
  h2 {
    font-weight: 800;
    font-size: 45px;
  }
  p {
    line-height: 30px;
  }
  .contact-form-group {
    margin-bottom: 30px;
    input[type=text], textarea[name=message]{
      background-color: rgba(255, 255, 255, 0.4);
      border: 0px solid white;
      color: white;
    }
    textarea[name=message] {
      min-height: 220px;
      resize: none;
    }
    .bottom-line {
      height: 6px;
      background-color: white;
    }
  }
  .label-checkbox p {
    font-weight: 800;
  }
  .form-block {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 20px;
    color: $dark-gray;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
