.three-cards-container.marged {
  margin-top: 60px;
  margin-bottom: 80px;
}


@media (max-width: 900px) {
  .three-cards-container {
    .service-card, .simple-image-card {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

@media (min-width: 900px) {
  .three-cards-container .row {
     .col-xs-4 {
      &:first-child .service-card, &:first-child .simple-image-card {
        margin-right: 40px;
      }
      &:nth-child(3) .service-card, &:nth-child(3) .simple-image-card {
        margin-left: 40px;
      }
      &:nth-child(2) .service-card, &:nth-child(2) .simple-image-card {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}