.unless-footer {
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  .footer-left {
    display: flex;
    flex-direction: column;
    height: 55px;
    justify-content: space-between;
    .footer-item {
      text-decoration: none;
      font-size: 14px;
      &:hover {
        text-decoration: none;
      }
      .fa {
        width: 20px;
      }
    }
  }
}

.footer-unless-regular {
  .footer-item {
    color: $brand-color;
    &:hover {
      color: $brand-color;
    }
  }
}

.footer-unless-inverted {
  .footer-item {
    color: white;
    &:hover {
      color: white;
    }
  }
}