.content p {
  color: #828282;
  font-size: 17px;
  line-height: 1.9;
}

.header-gray h3 {
  font-weight: bold;
  font-size: 25px;
}


.font-white {
  color: white;
}

.font-gray {
  color: #828282;
}


.benefit-header h3 {
  margin: 40px 0;
  text-align: center;
}
