.content p {
  color: #828282;
  font-size: 17px;
  line-height: 1.9;
}

.header-gray {
  font-weight: bold;
  font-size: 25px;
  margin-top: 30px;
}


.font-white {
  color: white;
}

.font-gray {
  color: #828282;
}
