.navbar-unless {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

@media (min-width: 1200px) {
  .navbar-unless {
    max-width: 1200px;
    margin: 0 auto;
  }

  .navbar-wrapper {
    min-height: 142px;
    margin-bottom: 0;
  }
  .navbar-unless .navbar-group-right {
    display: flex;
  }
}

.navbar-unless .logo {
  display: flex;
  align-items: center;
  img {
    height: 50px;
  }
  span {
    margin-left: 10px;
    font-size: 42px;
    font-family: Arvo;
    font-weight: 700;
    font-style: italic;
  }
  &:hover, &:focus, &:active, &:visited {
    text-decoration: none;
  }
}

.navbar-unless .navbar-group-right .list-inline li {
  width: 100px;
  text-align: center;
}

.navbar-group-right {
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  ul {
    padding: 0;
    margin: 0;
    li {
      a {
        margin: 0 10px;
        transition: font-weight 200ms ease;
        &:hover, &:focus, &:active, &:visited {
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
    li.active a {
      font-weight: 700;
    }
  }
}

.navbar-unless-inverted {
  .logo {
    color: white;
    &:hover, &:focus, &:active, &:visited {
      color: white;
    }
  }
  .navbar-group-right {
    ul {
      a {
        color: white;
        &:hover, &:focus, &:active, &:visited {
          color: white;
        }
      }
    }
  }
}


.navbar-unless-regular {
  position: fixed;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 999;
  .logo {
    color: $brand-color;
    &:hover, &:focus, &:active, &:visited {
      color: $brand-color;
    }
  }
  .navbar-group-right {
    ul {
      a {
        color: $gray;
        &:hover, &:focus, &:active, &:visited {
          color: $gray;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .navbar-wrapper {
    min-height: 165px;
    margin-bottom: 0;
  }

  .navbar-unless .navbar-group-right {
    display: none;
  }
  .navbar-unless {
    flex-direction: column;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .navbar-wrapper {
    min-height: 142px;
    margin-bottom: 0;
  }
  .navbar-unless .navbar-group-right {
    display: flex;
  }
  .navbar-unless-regular {
    padding: 20px 90px;
  }
}

ul.list-inline-flex {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  li {
    flex: 0 0 110px;
    text-align: center;
  }
}

.contact-nav-item {
  display: inline-block;
  background-color: $brand-color;
  padding: 3px 5px;
  font-weight: 600;
  margin-right: -10px;
  text-decoration: none;
  color: white;
  transform: scale(1);
  transition: transform 200ms ease;
  &:hover {
    color: white;
    text-decoration: none;
  }
  &:active {
    transform: scale(1.05);
  }
}

.contact-nav-item-inverted {
  display: inline-block;
  background-color: white;
  padding: 3px 5px;
  font-weight: 600;
  margin-right: -10px;
  text-decoration: none;
  color: $brand-color;
  transform: scale(1);
  transition: transform 200ms ease;
  &:hover {
    color: $brand-color;
    text-decoration: none;
  }
  &:active {
    transform: scale(1.05);
  }
}

.nav-mobile {
  margin-top: 15px;
  .nav-item {
    color: $brand-color;
    &:hover {
      color: $brand-color;
      text-decoration: none;
    }
  }
  .nav-item.active {
    font-weight: 800;
  }
}

@media (max-width: 330px) {
  .nav-mobile {
    font-size: 15px;
  }
}


