@media (max-width: 900px) {
  .seconday-navbar-unless .navbar-group-right {
    display: none;
  }
}

@media (min-width: 900px) {
  .seconday-navbar-unless .navbar-group-right {
    display: flex;
  }
}


.secondary-navbar-unless {
  display: flex;
  justify-content: flex-end;
  .navbar-group-right {
    width: 433.52px;
    min-height: 32px;
    border-top: 1px solid $brand-color;
    padding-top: 10px;
    ul {
      a {
        color: $gray;
        &:hover, &:focus, &:active, &:visited {
          color: $gray;
          font-weight: 700;
        }
      }
    }
  }
}