@media (max-width: 900px) {
     .tabs {
       width: 100%;
    }
}
@media (min-width: 901px) {
     .tabs {
       width: 60%;
    }
}

.tabs {
  display: flex;
  padding: 10px 10px 0 10px;
  justify-content: space-around;
  margin: 20px auto;
}
.tabs a {
  color: $gray;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  flex: 0 0 33.33%;
  text-align: center;
  padding: 20px 0;
  border-bottom: 3px solid $light-gray;
}
.tab.active {
  background: white;
  color: $dark-gray;
  text-decoration: none;
  border-bottom: 3px solid $brand-color;
}
